@import url("../css/header.css");
@import url("../css/banner.css");
@import url("../css/carrossel.css");
@import url("../css/card.css");
@import url("../css/carrosel2.css");
@import url("../css/topicos.css");
@import url("../css/footer.css");
@import url("../css/contato.css");
@import url("../css/footer.css");
:root{
    --cor-de-fundo:#EBECEE;
    --branco-principal:#FFFFFF;
    --degrade:(97.54deg, #002F52 35.49%, #326589 165.37%);
    --laranja:#EB9B00;
    --azul-principal:#002F52;
    --fonte-principal:"Poppins";
}
body{
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-weight: 400;
}

